@import '../../../theme/theme.scss';

.bioHeader {
    h1 {
        font-size: 3em;
        margin-bottom: 20px;
    }

    p {
        font-size: 15px;
        margin-bottom: 15px;
    }
}

.bioText {
    font-size: 18px !important;
}

.accordion-item {
    border: none !important;
    border-bottom: 2px solid $black !important;
}

.accordion-button {
    padding: 20px 5px !important;
    border: none !important;

    &:focus {
        border-color: none !important;
        box-shadow: none !important;
    }

    &:not(.collapsed) {
        color: $black !important;
        background-color: transparent !important;
        box-shadow: none !important;
    }
}