@import '../../theme/theme.scss';

.menuBrand {
    color: $white;
    text-decoration: none;

    &:hover {
        color: $white;
    }
}

.menuLink {
    color: $white;
    text-decoration: none;

    &:hover {
        color: $info;
    }

    @include media-breakpoint-down(lg) {
        color: $primary;
    }
}

.navbar-toggler {
    border: none;

    &:focus {
        box-shadow: none;
    }
}

.btn-close {
    &:focus {
        box-shadow: none;
    }
}