@import '../../theme/theme.scss';

.menuLink {
    text-decoration: none;

    /*@include media-breakpoint-down(lg) {
        color: $gray-600;
    }*/
}

.navbar-toggler {
    border: none;

    &:focus {
        box-shadow: none;
    }
}

.btn-close {
    &:focus {
        box-shadow: none;
    }
}