@import '../../theme/theme.scss';

.menuBrand {
    color: $white;
    text-decoration: none;
    &:hover{
        color: $white;
    }
}

.menuLink {
    color: $white;
    text-decoration: none;
    &:hover{
        color: $info;
    }
}