@import '../../../theme/theme.scss';

.vstack {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-self: stretch;

    @include media-breakpoint-down(lg) {
        flex-direction: row !important;
        align-items: center;
    }
}

.socialsIcon {
    font-size: 20px;
    text-align: right;
    padding-right: 72px;
    color: $gray-800;

    &:hover {
        color: $black;
    }

    @include media-breakpoint-down(lg) {
        padding: 20px 20px 0px;
    }
}

.bannerText {
    h1 {
        font-size: 3em;
        margin-bottom: 20px;
    }

    p {
        font-size: 15px;
        margin-bottom: 15px;
    }

    @include media-breakpoint-down(lg) {
        text-align: center;
    }
}

.line {
    position: relative;
    display: block;
    top: 50%;
    right: -84%;
    width: 70px;
    border-top: 1px solid currentColor;
    z-index: 2;
}

.shape {
    position: relative;
    top: -35%;
    right: 0;
    bottom: 0px;
    left: 13%;
    pointer-events: none;
    display: initial;
}

.bannerImage {
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
}

.fadeIn {
    animation: fadeIn 500ms;
    animation-timing-function: ease-in;
    position: relative;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        bottom: -10px;
    }

    100% {
        opacity: 1;
        bottom: 0px;
    }
}